REACT_APP_INFURA_KEY=xxxxxyyyyyzzzzz
REACT_APP_FORTMATIC_KEY=pk_live_xxxxx # Optional
REACT_APP_DEFAULT_CHAIN_ID=1 # Optional

REACT_APP_NAME=uni-wallet
REACT_APP_LOGO_URL=http://localhost:3000/icon.png # Optional