NEXT_PUBLIC_INFURA_KEY=xxxxxyyyyyzzzzz
NEXT_PUBLIC_FORTMATIC_KEY=pk_live_xxxxx # Optional
NEXT_PUBLIC_DEFAULT_CHAIN_ID=1 # Optional

NEXT_PUBLIC_APP_NAME=uni-wallet
NEXT_PUBLIC_LOGO_URL=http://localhost:3000/icon.png # Optional